<ul>

  <li><a href="https://console.kmdlogic.io/">Presentation Repo</a></li>  

  <li><a href="https://console.kmdlogic.io/">Logic</a></li>  
  
  <li><a href="https://docs.microsoft.com/en-us/aspnet/core/tutorials/getting-started-with-swashbuckle?view=aspnetcore-2.2&tabs=visual-studio">Getting started with Swagger / Swashbuckle</a></li>  
  
  <li><a href="https://github.com/kmdlogic">Logic Github</a></li>
  
  <li><a href="https://github.com/kmdlogic/kmd-logic-sms-console-sample">Logic SMS Console application sample</a></li>  

  <li><a href="https://www.nuget.org/packages/Kmd.Logic.Audit.Client.SerilogAzureEventHubs">KMD Logic Audit nuget package</a></li>  

  <li><a href="https://www.scottbrady91.com/Angular/SPA-Authentiction-using-OpenID-Connect-Angular-CLI-and-oidc-client">OIDC Spa example</a></li>
  
  <li><a href="https://youtu.be/mK_yBTfvvN4">Dominic Baier : Securing Web Applications and APIs with ASP.NET Core</a></li>
  
  <li><a href="https://youtu.be/mK_yBTfvvN4">Dominic Baier : Building Clients for OpenID Connect/OAuth 2-based Systems</a></li>
  
</ul>

